<% if @buffets.any? %>
  <% @buffets.each do |buffet|%>
    <section>
      <h2> <%= link_to buffet.brand_name, buffet_path(buffet) %> </h2>
      <p><%= Buffet.human_attribute_name(:state) %>: <%= buffet.state %></p>
      <p><%= Buffet.human_attribute_name(:city) %>: <%= buffet.city %></p>
    </section>
  <% end %>
<% else %>
  <p>Não existem buffets cadastrados</p>
<% end %>