<div style="display: flex; gap: 5rem;">
  <section>
    <h1><%= Buffet.model_name.human %> <%= @buffet.brand_name %></h1>
    <p><%= Buffet.human_attribute_name(:corporate_name) %>: <%= @buffet.corporate_name %></p>
    <p><%= Buffet.human_attribute_name(:registration_number) %>: <%= @buffet.registration_number %></p>
    <p><%= Buffet.human_attribute_name(:phone) %>: <%= @buffet.phone %></p>
    <p><%= Buffet.human_attribute_name(:email) %>: <%= @buffet.email %></p>
    <p><%= Buffet.human_attribute_name(:address) %>: <%= @buffet.address %></p>
    <p><%= Buffet.human_attribute_name(:district) %>: <%= @buffet.district %></p>
    <p><%= Buffet.human_attribute_name(:state) %>: <%= @buffet.state %></p>
    <p><%= Buffet.human_attribute_name(:city) %>: <%= @buffet.city %></p>
    <p><%= Buffet.human_attribute_name(:zip_code) %>: <%= @buffet.zip_code %></p>
    <p><%= Buffet.human_attribute_name(:description) %>: <%= @buffet.description %></p>
    <p><%= Buffet.human_attribute_name(:payment_pix) %>: <%= @buffet.payment_pix %></p>
    <p><%= Buffet.human_attribute_name(:payment_credito) %>: <%= @buffet.payment_credito %></p>
    <p><%= Buffet.human_attribute_name(:payment_debito) %>: <%= @buffet.payment_debito %></p>
    <p><%= Buffet.human_attribute_name(:buffet_profile_id) %>: <%= @buffet.buffet_profile.email %></p>
    <%= link_to 'Editar buffet', edit_buffet_path(@buffet) %>
  </section>
  <section style="flex-grow: 1;">
    <div>
      <h3 style="margin: 1rem 0; background-color: rgb(191, 104, 121); border-radius: 5px; padding: 5px 15px; display: inline-block;">
        <%= link_to 'Cadastrar Evento +', new_event_path%>
      </h3>
    </div>
    
    <div style="display: flex; gap: 1rem; flex-wrap: wrap">
      <% if @buffet.events.any? %>
        <% @buffet.events.each do |event|%>
        <div style="border: 2px solid rgb(191, 104, 121); padding: 1rem;">
          <h2><%= Event.human_attribute_name(:name) %>: <%= event.name %></h2>
          <ul>
            <li><%= Event.human_attribute_name(:description) %>: <%= event.description %></li>
            <li><%= Event.human_attribute_name(:min_people) %>: <%= event.min_people %></li>
            <li><%= Event.human_attribute_name(:max_people) %>: <%= event.max_people %></li>
            <li><%= Event.human_attribute_name(:duration) %>: <%= event.duration %></li>
            <li><%= Event.human_attribute_name(:base_price) %>: <%= event.base_price %></li>
            <li><%= Event.human_attribute_name(:additional_per_person) %>: <%= event.additional_per_person %></li>
            <li><%= Event.human_attribute_name(:value_extra_hour) %>: <%= event.value_extra_hour %></li>
            <li><%= Event.human_attribute_name(:base_price_weekend) %>: <%= event.base_price_weekend %></li>
            <li><%= Event.human_attribute_name(:additional_per_person_weekend) %>: <%= event.additional_per_person_weekend %></li>
            <li><%= Event.human_attribute_name(:value_extra_hour_weekend) %>: <%= event.value_extra_hour_weekend %></li>
            <li><%= Event.human_attribute_name(:menu) %>: <%= event.menu %></li>
            <li><%= Event.human_attribute_name(:address) %>: <%= event.address %></li>
            <li><%= Event.human_attribute_name(:alcoholic_drink) %>: <%= event.alcoholic_drink %></li>
            <li><%= Event.human_attribute_name(:venue_preference) %>: <%= event.venue_preference %></li>
            <li><%= Event.human_attribute_name(:decoration) %>: <%= event.decoration %></li>
            <li><%= Event.human_attribute_name(:parking) %>: <%= event.parking %></li>
          </ul>
          <%= link_to 'Editar', edit_event_path(event) %>
          <br><br>
          <%= button_to('Remover', event, method: :delete) %>
        </div>
        <% end %>
      <% else %>
        <p>Não existem eventos cadastrados para este buffet.</p>
      <% end %>
    </div>
  </section>
</div>

