<div style="display: flex; gap: 5rem;">
  <section>
    <h2><%= @buffet.brand_name %></h2>
    <h3><%= @buffet.description %></h3>
      <ul>
      <li><%= Buffet.human_attribute_name(:corporate_name) %>: <%= @buffet.corporate_name %></li>
      <li><%= Buffet.human_attribute_name(:registration_number) %>: <%= @buffet.registration_number %></li>
      <li><%= Buffet.human_attribute_name(:phone) %>: <%= @buffet.phone %></li>
      <li><%= Buffet.human_attribute_name(:email) %>: <%= @buffet.email %></li>
      <li><%= Buffet.human_attribute_name(:address) %>: <%= @buffet.address %></li>
      <li><%= Buffet.human_attribute_name(:district) %>: <%= @buffet.district %></li>
      <li><%= Buffet.human_attribute_name(:state) %>: <%= @buffet.state %></li>
      <li><%= Buffet.human_attribute_name(:city) %>: <%= @buffet.city %></li>
      <li><%= Buffet.human_attribute_name(:zip_code) %>: <%= @buffet.zip_code %></li>
      <li><%= Buffet.human_attribute_name(:payment) %>: <%= @buffet.payment %></li>
      <li><%= Buffet.human_attribute_name(:buffet_profile_id) %>: <%= @buffet.buffet_profile.email %></li>
    </ul>
    <%= link_to 'Edit buffet', edit_buffet_path(@buffet) %>
  </section>
  <section style="flex-grow: 1;">
    <div>
      <h3 style="margin: 1rem 0; background-color: rgb(191, 104, 121); padding: 15px 15px; display: inline-block;">
        <%= link_to 'Register Event +', new_event_path%>
      </h3>
    </div>
    
    <div style="display: flex; gap: 1rem; flex-wrap: wrap">
      <% if @buffet.events.any? %>
        <% @buffet.events.each do |event|%>
        <div style="background-color: antiquewhite; border: 2px dotted rgb(184, 170, 152); padding: 1rem;">
          <h2><%= event.name %></h2>
          <h3><%= event.description %></h3>
          <ul>
            <li><%= Event.human_attribute_name(:min_people) %>: <%= event.min_people %></li>
            <li><%= Event.human_attribute_name(:max_people) %>: <%= event.max_people %></li>
            <li><%= Event.human_attribute_name(:menu) %>: <%= event.menu %></li>
            <li><%= Event.human_attribute_name(:address) %>: <%= event.address %></li>
            <li><%= Event.human_attribute_name(:duration) %>: <%= event.duration %> min</li>
            <li style="list-style-type: none;"><%= event.alcoholic_drink %> | <%= event.venue_preference %> | <%= event.decoration %> | <%= event.parking %></li>
          </ul>
          <table>
            <tr>
              <td style="background-color: antiquewhite;"></td>
              <td>base price</td>
              <td>additional per person</td>
              <td>value overtime</td>
            </tr>
            <tr>
              <td>Day of Week</td>
              <td><%= event.base_price %></td>
              <td><%= event.additional_per_person %></td>
              <td><%= event.value_extra_hour %></td>
            </tr>
            <tr>
              <td>Weekend</td>
              <td><%= event.base_price_weekend %></td>
              <td><%= event.additional_per_person_weekend %></td>
              <td><%= event.value_extra_hour_weekend %></td>
            </tr>
          </table>
          <%= link_to 'Edit Event', edit_event_path(event) %>
          <br><br>
          <%= button_to('Remove', event, method: :delete) %>
        </div>
        <% end %>
      <% else %>
        <p>There are no events registered for this buffet</p>
      <% end %>
    </div>
  </section>
</div>

