<% if false %>
  <% if buffet_profile_signed_in? %>
    <h3>buffet_profile</h3>
    <%= button_to 'Sign out', destroy_buffet_profile_session_path, method: :delete %>
  <% elsif !client_signed_in? %>
    <h3>buffet_profile</h3>
    <%= link_to 'Sign up', new_buffet_profile_registration_path %>
    <%= link_to 'Sign in', new_buffet_profile_session_path %>
  <% end %>

  <% if client_signed_in? %>
    <h3>client</h3>
    <%= button_to 'Sign out', destroy_client_session_path, method: :delete %>
  <% elsif !buffet_profile_signed_in? %>
    <h3>client</h3>
    <%= link_to 'Sign up', new_client_registration_path %>
    <%= link_to 'Sign in', new_client_session_path %>
  <% end %>

  <h3>Home links</h3>
  <%= link_to 'Home', root_path %>
  <%= link_to 'buffet_profile path', home_buffet_profile_path %>
  <%= link_to 'client path', home_client_path %>
<% end %>

<h1>HOME VISITANTE</h1>