<%= form_with(model: @event) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :min_people %>
    <%= form.number_field :min_people, step: 10 %>
  </div>

  <div>
    <%= form.label :max_peaple %>
    <%= form.number_field :max_peaple, step: 10 %>
  </div>

  <div>
    <%= form.label :duration %>
    <%= form.number_field :duration, step: 30 %>
  </div>
  
  <div>
    <%= form.label :base_price %>
    <%= form.number_field :base_price, step: 50 %>
  </div>
  
  <div>
    <%= form.label :additional_per_person %>
    <%= form.number_field :additional_per_person, step: 5 %>
  </div>
  
  <div>
    <%= form.label :extra_hour %>
    <%= form.number_field :extra_hour %>
  </div>
  
  <div>
    <%= form.label :base_price_weekend %>
    <%= form.number_field :base_price_weekend, step: 50 %>
  </div>
  
  <div>
    <%= form.label :additional_per_person_weekend %>
    <%= form.number_field :additional_per_person_weekend, step: 5 %>
  </div>
  
  <div>
    <%= form.label :extra_hour_weekend %>
    <%= form.number_field :extra_hour_weekend %>
  </div>

  <div>
    <%= form.label :menu %>
    <%= form.text_area :menu %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :venue_preference %>
    <%= form.select :venue_preference, options_for_select([['exclusivamente no endereço do buffet', 'exclusivamente no endereço do buffet'], ['pode ser feito em um endereço indicado pelo contratante', 'pode ser feito em um endereço indicado pelo contratante']]) %>
  </div>

  <div>
    <%= form.label :alcoholic_drink %>
    <%= form.select :alcoholic_drink, options_for_select([['Sim', 'Sim'], ['Não', 'Não']]) %>
  </div>

  <div>
    <%= form.label :decoration %>
    <%= form.select :decoration, options_for_select([['Sim', 'Sim'], ['Não', 'Não']]) %>
  </div>

  <div>
    <%= form.label :parking %>
    <%= form.select :parking, options_for_select([['Sim', 'Sim'], ['Não', 'Não']]) %>
  </div>

  <%= form.submit %>
<% end %>