<%= link_to 'Back to Orders', orders_path %>
<section>
  <h1>Order <%= @order.code %></h1>
      <p>Event: <%= @order.event.name %></p>
      <p>Client: <%= @order.client.name %></p>
      <p>Event day: <%= @order.event_day %></p>
      <p>Amount People: <%= @order.amount_people %></p>
      <p>Order details: <%= @order.details %></p>
      <p>Event's place: <%= @order.venue %></p>
      <p>Order Status: <%= @order.status %></p>
      <p>Amount of overtime: <%= @order.extra_hour %></p>
</section>