<% if @order.status == 'Waiting for buffet review' %>

  <section>
    <%= render('details_order_client') %>
  </section>
  
  <%= button_to 'Cancel', cancel_order_path(@order), method: :post %> <br><br>
  <%= link_to 'Back to my Orders', orders_path %>

<% elsif @order.status == 'Order accepted by buffet' %>

  <section>
    <%= render('details_order_client') %>

    <p>Order vality: <%= @order.order_vality %></p>
    <h3>Original Price: <%= @order.total_value + @order.discount - @order.surcharge %></h3>
    <h3>Discount: <%= @order.discount %></h3>
    <p><%= @order.discount_description %></p>
    <h3>Surcharge: <%= @order.surcharge %></h3>
    <p><%= @order.surcharge_description %></p>
    <h2>TOTAL: R$ <%= @order.total_value %></h2>
    <p>Form of payment: <%= @order.payment %></p>
  </section>

  <%= button_to 'Confirm', confirm_order_path(@order), method: :post %> <br><br>
  <%= button_to 'Cancel', cancel_order_path(@order), method: :post %> <br><br>
  <%= link_to 'Back to my Orders', orders_path %>

<% elsif @order.status == 'Order confirmed by the client' %>

  <section>
    <%= render('details_order_client') %>

    <p>Order vality: <%= @order.order_vality %></p>
    <h3>Original Price: <%= @order.total_value + @order.discount - @order.surcharge %></h3>
    <h3>Discount: <%= @order.discount %></h3>
    <p><%= @order.discount_description %></p>
    <h3>Surcharge: <%= @order.surcharge %></h3>
    <p><%= @order.surcharge_description %></p>
    <h2>TOTAL: R$ <%= @order.total_value %></h2>
    <p>Form of payment: <%= @order.payment %></p>
  </section>

  <%= button_to 'Cancel', cancel_order_path(@order), method: :post %> <br><br>
  <%= link_to 'Back to my Orders', orders_path %>

<% elsif @order.status == 'Pedido cancelado' %>

  <section>
    <%= render('details_order_client') %>
  </section>

  <%= link_to 'Back to my Orders', orders_path %>
<% end %>