<% if @order.status == 'Aguardando avaliação do buffet' %>
  <section>
    <h1>Pedido <%= @order.code %></h1>
    <p>nome do biffet: <%= @order.buffet.brand_name %></p>
    <p>evento: <%= @order.event.name %></p>
    <p>cliente: <%= @order.client.name %></p>
    <p>dia do evento: <%= @order.event_day %></p>
    <p>quantidade de pessoas: <%= @order.amount_people %></p>
    <p>Detalhes do pedido: <%= @order.details %></p>
    <p>Local do evento: <%= @order.venue %></p>
    <p>Status do pedido: <%= @order.status %></p>
    <p>Validade do pedido: <%= @order.order_vality %></p>
  </section>
  <%= link_to 'Voltar em Meus Pedidos', orders_path %>
<% elsif @order.status == 'Pedido aceito pelo buffet' %>
  <section>
    <h1>Pedido <%= @order.code %></h1>
    <p>nome do biffet: <%= @order.buffet.brand_name %></p>
    <p>evento: <%= @order.event.name %></p>
    <p>cliente: <%= @order.client.name %></p>
    <p>dia do evento: <%= @order.event_day %></p>
    <p>quantidade de pessoas: <%= @order.amount_people %></p>
    <p>Detalhes do pedido: <%= @order.details %></p>
    <p>Local do evento: <%= @order.venue %></p>
    <p>Status do pedido: <%= @order.status %></p>
    <p>Validade do pedido: <%= @order.order_vality %></p>
  </section>
  <%= button_to 'Confirmar', confirm_order_path(@order), method: :post %> <br><br>
  <%= link_to 'Voltar em Meus Pedidos', orders_path %>
<% elsif @order.status == 'Pedido confirmado pelo cliente' %>
  <section>
    <h1>Pedido <%= @order.code %></h1>
    <p>nome do biffet: <%= @order.buffet.brand_name %></p>
    <p>evento: <%= @order.event.name %></p>
    <p>cliente: <%= @order.client.name %></p>
    <p>dia do evento: <%= @order.event_day %></p>
    <p>quantidade de pessoas: <%= @order.amount_people %></p>
    <p>Detalhes do pedido: <%= @order.details %></p>
    <p>Local do evento: <%= @order.venue %></p>
    <p>Status do pedido: <%= @order.status %></p>
    <p>Validade do pedido: <%= @order.order_vality %></p>
  </section>
  <%= link_to 'Voltar em Meus Pedidos', orders_path %>
<% elsif @order.status == 'Pedido cancelado' %>
  <section>
    <h1>Pedido <%= @order.code %></h1>
    <p>nome do biffet: <%= @order.buffet.brand_name %></p>
    <p>evento: <%= @order.event.name %></p>
    <p>cliente: <%= @order.client.name %></p>
    <p>dia do evento: <%= @order.event_day %></p>
    <p>quantidade de pessoas: <%= @order.amount_people %></p>
    <p>Detalhes do pedido: <%= @order.details %></p>
    <p>Local do evento: <%= @order.venue %></p>
    <p>Status do pedido: <%= @order.status %></p>
    <p>Validade do pedido: <%= @order.order_vality %></p>
  </section>
  <%= link_to 'Voltar em Meus Pedidos', orders_path %>
<% end %>