<% if @orders.any? %>
  <% @orders.each do |order|%>
    <section>
      <h1>Pedido <%= order.code %></h1>
      <p>nome do biffet: <%= order.buffet.brand_name %></p>
      <p>evento: <%= order.event.name %></p>
      <p>cliente: <%= order.client.name %></p>
      <p>dia do evento: <%= order.event_day %></p>
      <p>quantidade de pessoas: <%= order.amount_people %></p>
      <p>Detalhes do pedido: <%= order.details %></p>
      <p>Local do evento: <%= order.venue %></p>
      <p>Status do pedido: <%= order.status %></p>
      <p>Validade do pedido: <%= order.order_vality %></p>
    </section>
  <% end %>
<% else %>
  <p>Não existem pedidos cadastrados.</p>
<% end %>