<h1>Registrar Pedido</h1>

<% if @order.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  <ul>
  <% @order.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<hr>
<%= form_with(model: @order) do |form|%>
  <% if params[:order].present? %>
    <%= form.hidden_field :buffet_id, value: params[:order][:buffet_id] %>
    <%= form.hidden_field :event_id, value: params[:order][:event_id] %>
  <% else %>
    <%= form.hidden_field :buffet_id, value: params[:buffet_id] %>
    <%= form.hidden_field :event_id, value: params[:event_id] %>
  <% end %>
    <%= form.hidden_field :payment, value: @buffet.payment %>

  <div>
    <%= form.label :event_day %> <br>
    <%= form.date_field :event_day %> <br><br>
  </div>

  <div>
    <%= form.label :amount_people %> <br>
    <%= form.number_field :amount_people, step: 10 %> <br><br>
  </div>

  <div>
    <%= form.label :extra_hour %> <br>
    <%= form.number_field :extra_hour %> <br><br>
  </div>

  <div>
    <%= form.label :details %> <br>
    <%= form.text_area :details %> <br><br>
  </div>

  <% if @event.venue_preference != 'exclusivamente no endereço do buffet' %>
    <div>
      <%= form.label :venue, "Se o local do evento for diferente do disponibilizado pelo buffet (#{@event.address}), preencha o campo abaixo:" %> <br>
      <%= form.text_field :venue  %> <br><br>
    </div>
  <% else %>
    <div>
      <%= form.label :venue, "Local do evento (endereço disponibilizado pelo buffet):" %> <br>
      <%= form.text_field :venue, readonly: true, value: @event.address %> <br><br>
    </div>
  <% end %>

  <%= form.submit %>
<% end %>