<h1>Register Order</h1>

<hr>

<% if @order.errors.any? %>
  <p>Check the errors below:</p>
  <ul>
  <% @order.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @order) do |form|%>
  <% if params[:order].present? %>
    <%= form.hidden_field :buffet_id, value: params[:order][:buffet_id] %>
    <%= form.hidden_field :event_id, value: params[:order][:event_id] %>
  <% else %>
    <%= form.hidden_field :buffet_id, value: params[:buffet_id] %>
    <%= form.hidden_field :event_id, value: params[:event_id] %>
  <% end %>
    <%= form.hidden_field :payment, value: @buffet.payment %>

  <div>
    <%= form.label :event_day %> <br>
    <%= form.date_field :event_day, min: Date.tomorrow %> <br><br>
  </div>

  <div>
    <%= form.label :amount_people %> <br>
    <%= form.number_field :amount_people, in: @event.min_people..@event.max_people %> <br><br>
  </div>

  <div>
    <%= form.label :extra_hour %> <br>
    <%= form.number_field :extra_hour %> <br><br>
  </div>

  <div>
    <%= form.label :details %> <br>
    <%= form.text_area :details %> <br><br>
  </div>

  <% if @event.venue_preference != 'exclusivamente no endereço do buffet' %>
    <div>
      <%= form.label :venue, "If the event location is different from that provided by the buffet (#{@event.address}), fill in the field below:" %> <br>
      <%= form.text_field :venue  %> <br><br>
    </div>
  <% else %>
    <div>
      <%= form.label :venue, "Event location (address provided by the buffet):" %> <br>
      <%= form.text_field :venue, readonly: true, value: @event.address %> <br><br>
    </div>
  <% end %>

  <%= form.submit %>
<% end %>

<hr>