<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header id="header">
      <div class="header_logo">
        <h1><%= link_to 'CADE BUFFET?', buffets_path %></h1>
        
        <div>
          <%= form_with(model: @event, method: :get, url: buffets_path, html: { id: "search" }) do |form| %>
            <%= form.label :query, "Search for:" %>
            <%= form.text_field :query %>
            <%= form.submit "Search" %>
          <% end %>
        </div>
      </div>
      
      <nav class="header_nav">
        <div class="nav_options">
          <div class="nav_option">
            <p>Buffet Profile</p>
            <div class="nav_links" id="buffet_profile_login">
              <%= link_to 'Log in', new_buffet_profile_session_path %>
              <%= link_to 'Sign up', new_buffet_profile_registration_path %>
            </div>
          </div>
          <div class="nav_option">
            <p>Client</p>
            <div class="nav_links" id="client_login">
              <%= link_to 'Log in', new_client_session_path %>
              <%= link_to 'Sign up', new_client_registration_path %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>