<!DOCTYPE html>
<html>
  <head>
    <title>CadeBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <nav class="header_nav">
        <p style="font-weight: bold;"><%= current_client.name %></p>
        <%= button_to 'Sign out', destroy_client_session_path, method: :delete %>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      
      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
