<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>CADE BUFFET?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header id="header">
      <div class="header_logo">
        <h1><%= link_to 'CADE BUFFET?', buffets_path %></h1>
        
        <div>
          <%= form_with(model: @event, method: :get, url: buffets_path, html: { id: "search" }) do |form| %>
            <%= form.label :query, "Search for:" %>
            <%= form.text_field :query %>
            <%= form.submit "Search" %>
          <% end %>
        </div>
      </div>

      <nav class="header_nav" id="client_session">
        <div class="nav_options">
          <div class="nav_option">
            <%= link_to 'My Orders', orders_path %>
            <p style="font-weight: bold;"><%= current_client.name %></p>
            <%= button_to 'Sign Out', destroy_client_session_path, method: :delete %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
